{% extends 'base.html.twig' %}

{% block title %}Exceptions list{% endblock %}

{% block content %}
    {% if current_instance %}
        <h1 class="title">Exceptions on instance <span class="bolder">{{ current_instance.code | upper }}</span></h1>
    {% else %}
        <h1 class="title">Exceptions on <span class="bolder">all instances</span></h1>
    {% endif %}

    <table>
        <thead>
        <tr>
            <th>ID</th>
            {% if not current_instance %}<th>Instance</th>{% endif %}
            <th>Request</th>
            <th>Method</th>
            <th>Exception</th>
            <th>Occurred</th>
        </tr>
        </thead>
        <tbody>
        {% for exception in exceptions %}
            <tr data-href="{{ path('exception_show', {'instance': exception.instance.code, 'exception': exception.id}) }}">
                <td><span class="muted">{{ exception.id }}</span></td>
                {% if not current_instance %}<td>{{ exception.instance.code }}</td>{% endif %}
                <td><small><strong>{{ exception.request.method }}</strong>
                        <u>{{ exception.request.requestUri | split('?')[0] | trim('/', 'right') }}</u></small></td>
                <td>{% include 'display_method.html.twig' with {trace: exception.method} %}</td>
                <td><strong>{{ exception.firstException.class | split('\\') | last }}</strong></td>
                <td>{{ exception.time | date('d/m/Y H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(exceptions) | replace({'&lt;&lt;': 'First', '&gt;&gt;': 'Last', '&lt;': 'Previous', '&gt;': 'Next'}) | raw }}
    </div>
{% endblock %}