{% extends 'base.html.twig' %}

{% block title %}Exceptions list{% endblock %}

{% block content %}
    <h1 class="title">Exceptions on instance <span class="bolder">{{ current_instance.code | upper }}</span></h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Request</th>
            <th>Method</th>
            <th>Exception</th>
            <th>Occurred</th>
        </tr>
        </thead>
        <tbody>
        {% for exception in exceptions %}
            <tr data-href="{{ path('exception_show', {'instance': current_instance.code, 'exception': exception.id}) }}">
                <td><span class="muted">{{ exception.id }}</span></td>
                <td><small><strong>{{ exception.request.method }}</strong> <u>{{ exception.request.requestUri | split('?')[0] | trim('/', 'right') }}</u></small></td>
                <td>{% include 'display_method.html.twig' with {trace: exception.method} %}</td>
                <td><strong>{{ exception.firstException.class | split('\\') | last }}</strong></td>
                <td>{{ exception.time | date('d/m/Y H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}