{% set encore_script = 'exception_show' %}
{% extends 'base.html.twig' %}

{% block title %}Log: {{ context.firstException.message }}{% endblock %}

{% block content %}
    <div class="tab-control">
        <button data-target="#request">Request</button>
        <button data-target=".exception" class="active">Exceptions</button>
    </div>

    <div class="url">
        <b>{{ context.request.method }}</b>
        <a href="{{ context.request.uri }}" target="_blank">{{ context.request.uri }}</a>
    </div>
    <div class="exception-message">
        {{ context.firstException.message }}
    </div>

    <div id="request" class="tab hidden">
        <div class="colored">
            <h1>Headers</h1>
            {% for key, value in context.request.headers %}
                <b>{{ key | title }}:</b> {{ value[0] is defined ? value[0] : value }}<br>
            {% endfor %}
        </div>

        <div class="row">
            <div class="regular">
                <h1>Query parameters</h1>
                {% for key, query in context.request.query.all %}
                    <b>{{ key }}:</b> {{ query }}<br>
                {% else %}
                    No query parameters were found
                {% endfor %}
            </div>

            <div class="regular">
                <h1>Request parameters</h1>
                {% for key, request in context.request.request.all %}
                    <b>{{ key }}:</b> {{ request }}<br>
                {% else %}
                    No request parameters were found
                {% endfor %}
            </div>
        </div>

        <div class="regular">
            <h1>Content</h1>
            {{ context.request.content ?: 'No body content' }}
        </div>
    </div>

    {% for exception in context.exceptions %}
        <div class="exception regular tab">
            <h1>{{ exception.class }}</h1>
            {% if not loop.first %}
                <span class="message">{{ exception.message }}</span>
            {% endif %}

            {% for trace in exception.trace %}
                {% set displayed = loop.first and loop.parent.loop.first %}

                <div class="trace">
                    <div class="header">
                        <i class="toggle fas {% if displayed %}fa-minus{% else %}fa-plus{% endif %}"></i>

                        {% include 'display_method.html.twig' with {trace: trace} %}

                        <h2 title="{{ trace.file }}:{{ trace.line }}">in {{ trace.file }} (line {{ trace.line }})</h2>
                    </div>

                    <ol start="{{ trace.content | keys | first }}" {% if not displayed %}class="hidden"{% endif %}>
                        {%- for number, line in trace.content -%}
                            <li {% if number == trace.line %}class="highlighted"{% endif %}>
                                <pre>{{- line -}}</pre>
                            </li>
                        {%- endfor -%}
                    </ol>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}