<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wiilogs{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <aside>
        <h1>Wiilogs</h1>
        <ul>
            {% for instance in __instance_menu %}
                <li {% if current_instance is defined and current_instance.code == instance.code %}class="active"{% endif %}>
                    <a href="{{ path('exception_list', {'instance': instance.code}) }}">
                        {{ instance.name }}

                        <small>
                            {% if instance.mode == "rec" %}
                                recette
                            {% elseif instance.mode == "prod" %}
                                production
                            {% else %}
                                {{ instance.mode }}
                            {% endif %}
                        </small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </aside>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {% if encore_script is defined %}
        {{ encore_entry_script_tags(encore_script) }}
    {% else %}
        {{ encore_entry_script_tags('app') }}
    {% endif %}
{% endblock %}
</body>
</html>
