<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wiilogs{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <aside>
        <h1><a href="{{ path('exception_list_index') }}">Wiilogs</a></h1>
        <a href="{{ path('app_logout') }}">
            <button>Logout</button>
        </a>
        <form action="{{ path('add_right') }}" method="POST">
            <label>
                <div>Add right :</div>
                <input type="text" name="email" placeholder="email" value="{{ search is defined ? search : '' }}">
            </label>
            <button type="submit">Add</button>
        </form>

        <ul>
            {% for instance in __instance_menu %}
                <a href="{{ path('exception_list', {'instance': instance.code}) }}">
                    <li {% if current_instance is defined and current_instance is not null and current_instance.code == instance.code %}class="active"{% endif %}>
                        {{ instance.name }}

                        <small>
                            {% if instance.mode == "rec" %}
                                recette
                            {% elseif instance.mode == "prod" %}
                                production
                            {% else %}
                                {{ instance.mode }}
                            {% endif %}
                        </small>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </aside>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {% if encore_script is defined %}
        {{ encore_entry_script_tags(encore_script) }}
    {% else %}
        {{ encore_entry_script_tags('app') }}
    {% endif %}
{% endblock %}
</body>
</html>
